
body{background-color: rgb(234, 230, 225);
    margin-left:100px;
    margin-right:100px;
    margin-top:100px;

}

header {font-family: 'Poor Story', cursive;
       text-align: center;
       margin-bottom: 30px;
       color:rgb(184, 137, 84);

}


nav { font-family: 'Bruno Ace', cursive;
    text-align: center;
 }

nav ul{
    border-top: 3px solid rgb(237, 195, 103);
    border-bottom : 3px solid rgb(237, 195, 103);
}



nav ul a{text-decoration:none;
        color: rgb(152, 91, 41);
        padding-left: 15px;
        padding-right: 15px;
        line-height: 3em;}


#aboutMe {font-family: 'Poor Story', cursive;
        font-size:20px;
        font-weight: bold;
}

#aboutMe p {color :rgb(237, 223, 212);
            font-weight: bolder;
            font-size: 40px;
            background-color: rgb(83, 70, 50);
            text-align: center;}

#aboutMe li {
    padding-left: 350px;
    padding-right: 350px;
    list-style-type:none;
}

#Video {font-family: 'Poor Story', cursive;
        font-size: 20px;
}

#Video p{color :rgb(237, 223, 212);
        font-weight: bolder;
        font-size: 40px;
        background-color: rgb(83, 70, 50);
        text-align: center;}
       
#Connects {font-family: 'Poor Story', cursive;
        font-size: 20px;
    }

#Connects p{color :rgb(237, 223, 212);
        font-weight: bolder;
        font-size: 40px;
        background-color: rgb(83, 70, 50);
        text-align: center;}
footer {
        padding-left: 10px;
        padding-top: 20px;
        padding-bottom: 20px;
        background-color: lightgray;
        font-family:'Bruno Ace', cursive;
        font-size: small;}